@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: "Poppins", sans-serif;
}

section .head {
  background-image: url("../public/assets/head-bg-image.png");
  /* background-repeat: no-repeat; */
  background-repeat: round;
  background-size: cover;
}

.hero-section {
  background-color: #17a2b8; /* Similar to teal */
  color: #fff;
  text-align: center;
  padding: 60px 20px;
  position: relative;
  overflow: hidden;
}

.hero-section::before,
.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.hero-section::before {
  left: -90px !important;
  background-image: url("../public/assets/left.png"); /* Replace with your left image path */
  background-position: left center;
}

.hero-section::after {
  right: -90px !important;
  background-image: url("../public/assets/right.png"); /* Replace with your right image path */
  background-position: right center;
}

.hero-content {
  position: relative;
  z-index: 2; /* Ensure content stays above the background images */
}

.hero-content h1 {
  font-size: 72px;
  line-height: normal;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.stat {
  text-align: center;
}

.stat h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10px;
}

.stat p {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

/* Who We Are */
